[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
flask = "*"
werkzeug = "*"

[dev-packages]
pytest-runner = "*"
pytest = "*"

[requires]
python_version = "3.6"
