Source: nexsan-exporter
Maintainer: Sam Morris <sam@robots.org.uk>
Section: net
Priority: optional
Build-Depends:
 debhelper (>= 10),
 python3 (>= 3.4),
 python3-prometheus-client,
 python3-setuptools,
Standards-Version: 3.9.7
Homepage: https://github.com/yrro/nexsan-exporter
X-Python3-Version: >= 3.4

Package: prometheus-nexsan-exporter
Architecture: all
Depends:
 adduser,
 ${python3:Depends},
 ${misc:Depends},
Description: Nexsan array metrics exporter for Prometheus
 Allows probing of Nexsan arrays by the Prometheus monitoring/time series
 database system.
